@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: var(--teritiary-color);
}
* {
    box-sizing: border-box;
}
:root {
    --primary-color: #635fd9;
    --secondary-color: white;
    --teritiary-color: #F3F2F9;
}
.alert-success{
    background-color: rgba(201, 255, 237, 0.6);
    backdrop-filter: blur(10px);
}
.alert-danger{
    background-color: rgba(246, 197, 197, 0.6);
    backdrop-filter: blur(10px);    
}